body {
  background-image: url("src/assets/page_background3.png")
}

#game {
  float: left;
  width: 50%;
  height: 512px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#left {
  float: left;
  width: 25%;
  height: 100vh;
  background-position: left top, left bottom, right 10px bottom 35px, center;
  background-size: 45%, 35%, 15%, contain;
}

#left div {
  display: block;
}

#right {
  float: right;
  width: 25%;
  height: 100vh;
  margin: 0;
  background-position: right bottom, right top, left 10px top 35px, center;
  background-size: 40%, 35%, 15%, contain;
}
